package tests

import (
	"testing"

	"{{.ModulePath}}/app/api"
	test "github.com/awesome-goose/goose/testing"
)

func TestApiController(t *testing.T) {
	test.NewSuiteRunner(t, &ApiControllerSuite{}).Run()
}

type ApiControllerSuite struct {
	test.Suite
	controller *api.ApiController
}

func (s *ApiControllerSuite) SetupTest() {
	s.controller = &api.ApiController{Service: &api.ApiService{}}
}

func (s *ApiControllerSuite) TestStatus_ReturnsOutput() {
	output := s.controller.Status(&api.ApiStatusInput{})
	s.T.Expect(output).Not().ToBeNil()
}

func (s *ApiControllerSuite) TestHealth_ReturnsOutput() {
	output := s.controller.Health(&api.ApiHealthInput{})
	s.T.Expect(output).Not().ToBeNil()
}
