package tests

import (
	"testing"

	"{{.ModulePath}}/app/cli"
	"{{.ModulePath}}/app/shared"
	test "github.com/awesome-goose/goose/testing"
)

func TestCliController(t *testing.T) {
	test.NewSuiteRunner(t, &CliControllerSuite{}).Run()
}

type CliControllerSuite struct {
	test.Suite
	controller *cli.CliController
}

func (s *CliControllerSuite) SetupTest() {
	s.controller = &cli.CliController{
		Service:       &cli.CliService{},
		SharedService: &shared.SharedService{},
	}
}

func (s *CliControllerSuite) TestInfo_ReturnsOutput() {
	output := s.controller.Info(&cli.InfoInput{})
	s.T.Expect(output).Not().ToBeNil()
}

func (s *CliControllerSuite) TestHelp_ReturnsOutput() {
	output := s.controller.Help(&cli.HelpInput{})
	s.T.Expect(output).Not().ToBeNil()
}

func (s *CliControllerSuite) TestVersion_ReturnsOutput() {
	output := s.controller.Version(&cli.VersionInput{})
	s.T.Expect(output).Not().ToBeNil()
}
