package tests

import (
	"testing"

	"{{.ModulePath}}/app/cli"
	test "github.com/awesome-goose/goose/testing"
	"github.com/awesome-goose/goose/types"
)

func TestCliRoutes(t *testing.T) {
	test.NewSuiteRunner(t, &CliRoutesSuite{}).Run()
}

type CliRoutesSuite struct {
	test.Suite
	routeTest *test.RouteTest
}

func (s *CliRoutesSuite) SetupTest() {
	routes, err := cli.CLI_ROUTES.(types.Router).Routes()
	if err != nil {
		s.T.T().Fatal(err)
	}
	s.routeTest = test.NewRouteTest(s.T.T(), routes)
}

func (s *CliRoutesSuite) TestRoutes_HasRoutes() {
	routes := s.routeTest.Routes()
	s.T.Expect(len(routes) > 0).ToEqual(true)
}

func (s *CliRoutesSuite) TestRoutes_InfoCommandExists() {
	s.routeTest.TestRouteExists("GET", []string{"info"})
}

func (s *CliRoutesSuite) TestRoutes_HelpCommandExists() {
	s.routeTest.TestRouteExists("GET", []string{"help"})
}

func (s *CliRoutesSuite) TestRoutes_VersionCommandExists() {
	s.routeTest.TestRouteExists("GET", []string{"version"})
}
