package tests

import (
	"testing"

	"{{.ModulePath}}/app/cli"
	test "github.com/awesome-goose/goose/testing"
)

func TestCliService(t *testing.T) {
	test.NewSuiteRunner(t, &CliServiceSuite{}).Run()
}

type CliServiceSuite struct {
	test.Suite
	service *cli.CliService
}

func (s *CliServiceSuite) SetupTest() {
	s.service = &cli.CliService{}
}

func (s *CliServiceSuite) TestGetVersion_ReturnsVersion() {
	result := s.service.GetVersion()
	s.T.Expect(result).ToEqual("0.0.0")
}

func (s *CliServiceSuite) TestGetVersion_NotEmpty() {
	result := s.service.GetVersion()
	s.T.Expect(result).Not().ToBeEmpty()
}
