package tests

import (
	"testing"

	"{{.ModulePath}}/app/shared"
	test "github.com/awesome-goose/goose/testing"
)

func TestSharedModule(t *testing.T) {
	test.NewSuiteRunner(t, &SharedModuleSuite{}).Run()
}

type SharedModuleSuite struct {
	test.Suite
	module     *shared.SharedModule
	moduleTest *test.ModuleTest
}

func (s *SharedModuleSuite) SetupTest() {
	s.module = &shared.SharedModule{}
	container := test.NewTestContainer()
	s.moduleTest = test.NewModuleTest(s.T.T(), s.module, container)
}

func (s *SharedModuleSuite) TestModule_NotNil() {
	s.T.Expect(s.module).Not().ToBeNil()
}

func (s *SharedModuleSuite) TestModule_ExportsSharedService() {
	exports := s.module.Exports()
	s.T.Expect(len(exports) > 0).ToEqual(true)
}

func (s *SharedModuleSuite) TestModule_DeclaresSharedService() {
	declarations := s.moduleTest.TestDeclarations()
	s.T.Expect(len(declarations) > 0).ToEqual(true)
}
