package tests

import (
	"testing"

	"{{.ModulePath}}/app/web"
	test "github.com/awesome-goose/goose/testing"
)

func TestWebModule(t *testing.T) {
	test.NewSuiteRunner(t, &WebModuleSuite{}).Run()
}

type WebModuleSuite struct {
	test.Suite
	module     *web.WebModule
	moduleTest *test.ModuleTest
}

func (s *WebModuleSuite) SetupTest() {
	s.module = &web.WebModule{}
	container := test.NewTestContainer()
	s.moduleTest = test.NewModuleTest(s.T.T(), s.module, container)
}

func (s *WebModuleSuite) TestModule_NotNil() {
	s.T.Expect(s.module).Not().ToBeNil()
}

func (s *WebModuleSuite) TestModule_HasImports() {
	imports := s.moduleTest.TestImports()
	s.T.Expect(len(imports) > 0).ToEqual(true)
}
