package tests

import (
	"testing"

	"{{.ModulePath}}/app/web"
	test "github.com/awesome-goose/goose/testing"
)

func TestWebController(t *testing.T) {
	test.NewSuiteRunner(t, &WebControllerSuite{}).Run()
}

type WebControllerSuite struct {
	test.Suite
	controller *web.WebController
}

func (s *WebControllerSuite) SetupTest() {
	s.controller = &web.WebController{Service: &web.WebService{}}
}

func (s *WebControllerSuite) TestStatus_ReturnsOutput() {
	output := s.controller.Status(&web.WebStatusInput{})
	s.T.Expect(output).Not().ToBeNil()
}

func (s *WebControllerSuite) TestHome_ReturnsOutput() {
	output := s.controller.Home(&web.WebHomeInput{})
	s.T.Expect(output).Not().ToBeNil()
}
