package tests

import (
	"testing"

	"{{.ModulePath}}/app/web"
	test "github.com/awesome-goose/goose/testing"
	"github.com/awesome-goose/goose/types"
)

func TestWebRoutes(t *testing.T) {
	test.NewSuiteRunner(t, &WebRoutesSuite{}).Run()
}

type WebRoutesSuite struct {
	test.Suite
	routeTest *test.RouteTest
}

func (s *WebRoutesSuite) SetupTest() {
	routes, err := web.WEB_ROUTES.(types.Router).Routes()
	if err != nil {
		s.T.T().Fatal(err)
	}
	s.routeTest = test.NewRouteTest(s.T.T(), routes)
}

func (s *WebRoutesSuite) TestRoutes_HasRoutes() {
	routes := s.routeTest.Routes()
	s.T.Expect(len(routes) > 0).ToEqual(true)
}

func (s *WebRoutesSuite) TestRoutes_HomeRouteExists() {
	s.routeTest.TestRouteExists("GET", []string{""})
}

func (s *WebRoutesSuite) TestRoutes_StatusRouteExists() {
	s.routeTest.TestRouteExists("GET", []string{"status"})
}
