package {{.ModuleNameLower}}

import (
	"github.com/awesome-goose/goose/io/resources/api"
)

type {{.ModuleName}}Controller struct {
	*api.Resource[{{.ModuleName}}] `inject:""`

	entity *{{.ModuleName}}Entity `inject:""`
}

func (c *{{.ModuleName}}Controller) OnRegister() {
	c.Hydrate(
		c.entity,
	)
}
