package {{.ModuleNameLower}}

type CreateDto struct {
	Name string `json:"name" validate:"required"`
}

type ListDto struct {
	Page  int `query:"page"`
	Limit int `query:"limit"`
}

type GetDto struct {
	ID string `param:"id" validate:"required"`
}

type UpdateDto struct {
	ID   string `param:"id" validate:"required"`
	Name string `json:"name"`
}

type DeleteDto struct {
	ID string `param:"id" validate:"required"`
}
