package {{.ModuleNameLower}}

import (
	"github.com/awesome-goose/goose/modules/sql"
)

type {{.ModuleName}} struct {
	sql.BaseEntity

	Name string `json:"name"`
}

type {{.ModuleName}}Entity struct {
	*sql.Entity[{{.ModuleName}}] `inject:""`
}

func (e *{{.ModuleName}}Entity) OnRegister() {
	e.Hydrate(
		"{{.ModuleNameLower}}",
		[]string{},
		[]string{},
		nil,
		nil,
		nil,
		nil,
		"",
	)
}
