package {{.ModuleNameLower}}

import "github.com/awesome-goose/goose/modules/router"

var (
	ROUTES = router.ForRoutes(
		router.Cli("{{.ModuleNameLower}}", []any{  {{.ModuleName}}Controller{}, "List"}),
		router.Cli("{{.ModuleNameLower}}/:id", []any{  {{.ModuleName}}Controller{}, "Get"}),
		router.Cli("{{.ModuleNameLower}}:create", []any{  {{.ModuleName}}Controller{}, "Create"}),
		router.Cli("{{.ModuleNameLower}}:delete/:id", []any{  {{.ModuleName}}Controller{}, "Delete"}),
	)
)
