package {{.ModuleNameLower}}

import (
	"github.com/awesome-goose/goose/io/output"
	"github.com/awesome-goose/goose/types"
)

type {{.ModuleName}}Controller struct {
	{{.ModuleNameLower}}Service *{{.ModuleName}}Service `inject:""`
	log                         types.Log               `inject:""`
}

func (c *{{.ModuleName}}Controller) List(body *ListDto) types.Output {
	c.log.Info("{{.ModuleName}}Controller: List called")
	items := c.{{.ModuleNameLower}}Service.List()

	return output.View("pages/list.html", map[string]any{
		"Title":  "{{.ModuleName}}s",
		"Items":  items,
		"Year":   2026,
	}, output.WithBaseDir("app/{{.ModuleNameLower}}/templates"))
}

func (c *{{.ModuleName}}Controller) Get(body *GetDto) types.Output {
	c.log.Info("{{.ModuleName}}Controller: Get called")
	item := c.{{.ModuleNameLower}}Service.Get(body.ID)

	// Return JSON for API-style single resource
	return output.JSON(item)
}

func (c *{{.ModuleName}}Controller) Create(body *CreateDto) types.Output {
	c.log.Info("{{.ModuleName}}Controller: Create called")
	item := c.{{.ModuleNameLower}}Service.Create(body)
	return output.JSON(item)
}

func (c *{{.ModuleName}}Controller) Update(body *UpdateDto) types.Output {
	c.log.Info("{{.ModuleName}}Controller: Update called")
	item := c.{{.ModuleNameLower}}Service.Update(body)
	return output.JSON(item)
}

func (c *{{.ModuleName}}Controller) Delete(body *DeleteDto) types.Output {
	c.log.Info("{{.ModuleName}}Controller: Delete called")
	c.{{.ModuleNameLower}}Service.Delete(body.ID)
	return output.JSON(map[string]any{"deleted": true})
}
