package {{.ModuleNameLower}}

type {{.ModuleName}}Service struct {
	{{.ModuleNameLower}}Entity *{{.ModuleName}}Entity `inject:""`
}

func (s *{{.ModuleName}}Service) Create(data *CreateDto) *{{.ModuleName}} {
	return &{{.ModuleName}}{
		Name: data.Name,
	}
}

func (s *{{.ModuleName}}Service) List() []*{{.ModuleName}} {
	return []*{{.ModuleName}}{
		{Name: "Sample {{.ModuleName}}"},
	}
}

func (s *{{.ModuleName}}Service) Get(id string) *{{.ModuleName}} {
	return &{{.ModuleName}}{
		Name: "Sample {{.ModuleName}}",
	}
}

func (s *{{.ModuleName}}Service) Update(data *UpdateDto) *{{.ModuleName}} {
	return &{{.ModuleName}}{
		Name: data.Name,
	}
}

func (s *{{.ModuleName}}Service) Delete(id string) {
	// TODO: Implement deletion logic
}
