package {{.ModuleNameLower}}_test

import (
	"testing"

	"{{.ModulePath}}/app/{{.ModuleNameLower}}"
	test "github.com/awesome-goose/goose/testing"
)

func Test{{.ModuleName}}Service(t *testing.T) {
	test.NewSuiteRunner(t, &{{.ModuleName}}ServiceSuite{}).Run()
}

type {{.ModuleName}}ServiceSuite struct {
	test.Suite
	service *{{.ModuleNameLower}}.{{.ModuleName}}Service
}

func (s *{{.ModuleName}}ServiceSuite) SetupTest() {
	s.service = &{{.ModuleNameLower}}.{{.ModuleName}}Service{}
}

func (s *{{.ModuleName}}ServiceSuite) TestList_ReturnsSlice() {
	result := s.service.List()
	s.T.Expect(result).Not().ToBeNil()
}

func (s *{{.ModuleName}}ServiceSuite) TestList_NotEmpty() {
	result := s.service.List()
	s.T.Expect(len(result) > 0).ToEqual(true)
}

func (s *{{.ModuleName}}ServiceSuite) TestGet_Returns{{.ModuleName}}() {
	result := s.service.Get("1")
	s.T.Expect(result).Not().ToBeNil()
}

func (s *{{.ModuleName}}ServiceSuite) TestGet_HasID() {
	result := s.service.Get("1")
	s.T.Expect(result.ID).ToEqual(1)
}

func (s *{{.ModuleName}}ServiceSuite) TestCreate_Returns{{.ModuleName}}() {
	result := s.service.Create("New Item")
	s.T.Expect(result).Not().ToBeNil()
}

func (s *{{.ModuleName}}ServiceSuite) TestCreate_HasName() {
	result := s.service.Create("New Item")
	s.T.Expect(result.Name).ToEqual("New Item")
}

func (s *{{.ModuleName}}ServiceSuite) TestService_NotNil() {
	s.T.Expect(s.service).Not().ToBeNil()
}
