package tests

import (
	"testing"

	"{{.ModulePath}}/app"
	"github.com/awesome-goose/goose/core"
	test "github.com/awesome-goose/goose/testing"
)

func TestAppController(t *testing.T) {
	test.NewSuiteRunner(t, &AppControllerSuite{}).Run()
}

type AppControllerSuite struct {
	test.Suite
	controller *app.AppController
	container  *core.Container
}

func (s *AppControllerSuite) SetupTest() {
	s.container = core.NewContainer()
	s.container.Register(func() *app.AppService {
		return &app.AppService{}
	}, "", true)

	s.controller = &app.AppController{}
	s.container.Fill(s.controller)
}

func (s *AppControllerSuite) TeardownTest() {
	if s.container != nil {
		s.container.Reset()
	}
}

func (s *AppControllerSuite) TestController_NotNil() {
	s.T.Expect(s.controller).Not().ToBeNil()
}

func (s *AppControllerSuite) TestHealth_ReturnsOutput() {
	output := s.controller.Health(&app.HealthDto{})
	s.T.Expect(output).Not().ToBeNil()
}
